.collection {
    display: flex;
    flex-wrap: wrap;
    background-color: $akva;
    margin-bottom: 150px;
    padding-bottom: 20px;
	&__box { 
        position: relative;
        border-radius: 5px;
        border: 2px solid $akva;
        color: $black;
        &:hover {
            border: 2px solid $accent;
            box-shadow: 0 0 2px rgba(0,0,0,0.5);
        }
    }
	&__h3 { 
        position: absolute;
        left: 30px;
        bottom: 24px;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}
@media (max-width: 767px) {
    .collection {
        justify-content: center;
    }
}